/*
Website Colors

Primary Color (blue):#003580
Secondary Color(light blue): #009fe3
Tetiary Color (yellow):#feba02
Quarternary Color (gray): #66666

Website Font
Body Text: Montserrat (400,500,700)

*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: black;
  font-weight: normal;
  line-height:1.6;
  background-color: white;
}

h1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 1.4;
  color:#00000;
  padding: 20px;
  text-align: center;

}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

h4 {
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
}

.graytext {
  color: gray;
  font-size: 14px;
  font-weight: lighter;
}

.hero-text {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.4;
  color: #00000;
  padding: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}


/* Link Styles */

a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover,
a:focus {
  color:black;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 3px solid #000;
}

a:active {
  color: #606264;
}

div {
  padding: 10px;
  margin: 10px;
  display: block;
}

/* buttons */

.button {
  border: none;
  font-family: inherit;
  background-color: #14554b;
  color: white !important;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  border-radius:25px;
  border-bottom: 2px #0076a8;
  transition: 0.2s opacity;
}

.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.7;
}

.button-secondary, .button-secondary:visited {
  border: solid 2px #14554b;
  border-radius: 25px;
  color: #003580;
  cursor: pointer;
  padding: 8px 16px;
  background-color: none;
  color: black;
  text-decoration:none;
}

.button-secondary:hover,
.button-secondary:focus {
  cursor: pointer;
  background-color: #14554b;
  color: white;
}

.navigation {
  list-style-type: none;
  padding: 10px;
  float: right;
}

.navigation > li {
  display: inline-block;
  margin-left:  10px;
}

/* Layout Styling */

.wrapper {
  display: block;
  width: 100%;
  max-width: 1000;
  margin: 0 auto;
}

.wrapper-nav {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding:0px 20px;
  background-color: #14554b;
}

.hero {
  background: linear-gradient(to right, #27a592 0%, #00ffcc 100%);
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
}

.header {
  display: inline-block;
  width: 100%;
  text-align: right;
}

/* Columns */

.columns-container {
  white-space: nowrap;
  font-size: 0;
}

.column-2 {
  width:48%;
  display:inline-block;
  margin-right:2%;
  float: left;
  text-align: center;
}
.column-2:last-child {
  margin-right: 0;
}

/* Container and Rows */

.container {
  width: 80%;
  min-width: 360px;
  max-width: 1200px;
  margin: 0 auto;
}

.row-centered {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.row{
  padding: 20px 0;
  display:inline-block;
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row:last-child {
  border-bottom: none;
}

/* Responsive Design */

/* MEDIA */

@media all and (max-width: 767px) {
  #hero h1 {
    padding: 36px 0;
    font-size: 28px;
  }
  .wrapper {
    padding: 0 10px;
  }
  .col-2 {
    width: 100%;
    margin-right: 0;
  }
